/* Estructura general */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}

.container {
    display: flex;
    height: 100vh;
}

/* Izquierda */
.left-section {
    flex: 1.3;
    background: #000;
    overflow: hidden;
}

.left-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Derecha */
.right-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.form-box {
    width: 80%;
    max-width: 420px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

/* Input con ícono */
.input-group {
    position: relative;
    margin-bottom: 18px;
}

.input-group i {
    position: absolute;
    top: 12px;
    left: 14px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
}

.input-group input:focus {
    border-color: #000;
}

/* Botón */
.btn-register {
    width: 100%;
    padding: 12px;
    background: #8f1727;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}
.red{
    color: #8f1727;
}

.btn-register:hover {
    background: #333;
}

/* Mensaje error */
.error-msg {
    color: red;
    margin-bottom: 15px;
}

/* Cambio de página */
.change-page {
    margin-top: 20px;
    font-size: 14px;
}

.change-page a {
    color: #8f1727;
    font-weight: bold;
    text-decoration: none;
}

.change-page a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .left-section {
        height: 250px;
    }
}

